body {
  background-image: url('giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #333;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer .social-icons {
  margin-left: auto;
}

.footer .social-icons .social-icon {
  color: #7d08eb;
  font-size: 1.2rem;
  margin-left: 10px;
}

.footer .social-icons .social-icon:hover {
  color: #0c1ae9;
}

.social-icons .social-icon {
  color: #2b0ae6;
  transition: color 0.3s ease;
}

.social-icons .social-icon:hover {
  color: #530df7;
}
